# =========================
# Maven / Gradle build
# =========================
target/
out/
build/

# Dependency directories
dependency-reduced-pom.xml

# =========================
# Java class files
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log
logs/
test-output/

# =========================
# Reports
# =========================
extent-reports/

# =========================
# IDE settings
# =========================
# Eclipse
.classpath
.project
.settings/

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
*.env
.env.local
